body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  #character-img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    transition: opacity 0.3s ease-in-out;
  }
  
  #quote-text,
  #character-name {
    font-size: 1.5rem;
    margin-bottom: 20px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
  }
  
  #new-quote {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #new-quote:hover {
    background-color: #ff9900;
  }
  